body {
    margin: 0;
    background-color: #222222;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #000;
    padding: 40px 0 40px 0;
    box-shadow: 3px 0 0 #1A5276;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;
    padding: 0 0 0 8px;
}

ul li.item-menu:hover{
    background-color: #1A5276;
}
ul li.item-menu{
    transition: 0.5s;
}

ul li.ativo{
    background-color: #1A5276;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}


ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.main{
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.num-clientes{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.ativos{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(90, 153, 27);
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.vencidos{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(143, 20, 44);
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.ativos i{
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.vencidos i{
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center
}

.button-container{
   width: 80%;
   text-align: start;
    margin-top: 80px;
}

#add{
    font-size: 20px;
    padding: 10px 20px;
    background-color: #1A5276;
    color: #fff;
    border-radius: 8px;
    border: none;
}

#add:hover{
    background-color: #256891;
}

.table{
    width: 80%;
}
table {
    width: 100%;
    word-break: break-word;
    border-spacing: 10px;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    border-radius: 10rem;
    background-color: #222222;
    padding: 10px;
}

tr {
    border-bottom: 1px solid #256891;
}


thead tr th {
    color: #fff;
    text-align: start;
    padding: 5px;
    margin-bottom: 50px;
}


thead tr th.acao {
    width: 100px;
    text-align: center;
}

tbody tr td {
    max-width: 50px;
    vertical-align: text-top;
    padding: 6px;
    color: #fff;
    background-color: #1A5276;
}

tbody tr:hover{
    background-color: #222222;
    transition: 0.4s;
}

tbody tr {
    margin-bottom: 50px;
}

tbody button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#edit{
    background-color: gold;
    padding: 10px;
    font-weight: 700;
    margin-right: 10px;
}

#remove{
    background-color: red;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
}

.janela-modal{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #0000007e;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.janela-modal.abrir{
    display: flex;
}

.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #22222288;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
}

.modal > input{
    width: 60%;
    margin: 20px;
    border-radius: 5px; 
    border: none;
    padding: 5px;
}

.modal > label{
    padding-right: 420px;
    color: #1A5276;
}

.fechar{
    position: absolute;
    top: -10px; ;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#btnSalvar{
    background-color: #1A5276;
    color: #fff;
    border: none;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
}